*{
    margin: 0px;
    padding: 0px;
}

.hero-btn button{
    margin-right: 10px;
}
.hero-btn button:nth-last-child(1){
    margin-right: 0px;
}

.hero-btn button:nth-child(1) {
    background-color: #FF7B00;
    color: #0e0e0e;
}

.hero-btn button {
 appearance: none;
 background-color: transparent;
 border: 0.125em solid #D76611;
 border-radius: 0.9375em;
 box-sizing: border-box;
 color: #ffffff;
 cursor: pointer;
 display: inline-block;
 font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size: 16px;
 font-weight: 600;
 line-height: normal;
 min-height: 3.75em;
 min-width: 0;
 outline: none;
 padding: 1em 2.3em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.hero-btn button:disabled {
 pointer-events: none;
}

.hero-btn button:hover {
 color: #000000;
 background-color: #fc6e01;
 box-shadow: #8f3e007c 0 8px 15px;
 transform: translateY(-2px);
}

.hero-btn button:active {
 box-shadow: none;
 transform: translateY(0);
}